body {
  
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,169,122,1) 80%, rgba(187,57,50,1) 97%); 
    padding: 50px;
}
/*For the header*/
h1 {
  color: black;
  margin-left: 20px;
}

/*for the navigation bar*/
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*for the body oh the html, the picture is non repeating and streches which will look more like a gradient with more words added*/
body {
    background-image: url("cool-background(1).png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
}

.profilestyle {
 
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;
}

.industryData {
 
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;
}

.interviews {
 
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;
}

.about {
    
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;
}

.RMITApp {
    
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;   
}

.groupfeedback {
    
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;   
}

.individualfeedback {
    
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;   
}

h2 {
    font-size: 30px.
    color: #fff;
    letter-spacing: 2px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
     align-items: center;
     position:absolute;
            right:0;
    padding-right:10px;
}

.technologies {
    border-left: 6px solid red;
    padding: 40px;
    background-color: white;      
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
a {
    color:black
}

a:hover {
    color:indianred
}
